name: Matrix Strategy

on: 
    push:

jobs:
    deploy:
        strategy:
            matrix:
                os: [ubuntu-latest, ubunut-20.04, windows-latest]
                images: [hello-world, alpine]
        runs-on: ${{matrix.os}}
        steps:
        - name: Echo Docker info
          run: docker info
        - name: Run Image on ${{matrix.os}}
          run: docker run ${{matrix.images}}