# name: Variables and Secrets

# on: 
#     push:
# jobs:
#     docker:
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker build
#           run: docker build -t docker.io/dockerUsername/imageName:latest

#         - name: Docker login
#           run: docker login --usernam=dockerUsername --password=securepassword

#         - name: Docker Publish
#           run: docker push docker.io/dockerUsername/imageName:latest

#     deploy:
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker run
#           run: docker run -d -p 8080:80 docker.io/dockerUsername/imagesName:latest

 ##################### Environment Variables at STEP Level ###################

# name: Variables and Secrets

# on: 
#     push:
# jobs:
#     docker:
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker build
#           env:
#             CONTAINER_REGISTRY: docker.io
#             DOCKER_USERNAME: bhuvan0107
#             IMAGE_NAME: github-actions-nginx
#           run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#         - name: Docker login
#           env:
#             DOCKER_PASSWORD: Docker0107
#             DOCKER_USERNAME: bhuvan0107
#           run: echo docker login --usernam=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#         - name: Docker Publish
#           env:
#             CONTAINER_REGISTRY: docker.io
#             DOCKER_USERNAME: bhuvan0107
#             IMAGE_NAME: github-actions-nginx
#           run: docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#     deploy:
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker run
#           env:
#             CONTAINER_REGISTRY: docker.io
#             DOCKER_USERNAME: bhuvan0107
#             IMAGE_NAME: github-actions-nginx
#           run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

##################### Environment Variables at Job Level ###################

# name: Variables and Secrets

# on: 
#     push:
# jobs:
#     docker:
#         env:
#             CONTAINER_REGISTRY: docker.io
#             DOCKER_USERNAME: bhuvan0107
#             IMAGE_NAME: github-actions-nginx
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker build
#           run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#         - name: Docker login
#           env:
#             DOCKER_PASSWORD: Docker0107
#           run: echo docker login --usernam=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#         - name: Docker Publish
#           run: docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#     deploy:
#         env:
#             CONTAINER_REGISTRY: docker.io
#             DOCKER_USERNAME: bhuvan0107
#             IMAGE_NAME: github-actions-nginx
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker run
#           run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

##################### Environment Variables at WORKFLOW Level ###################

# name: Variables and Secrets

# on: 
#     push:
# env:
#     CONTAINER_REGISTRY: docker.io
#     DOCKER_USERNAME: bhuvan0107
#     IMAGE_NAME: github-actions-nginx
# jobs:
#     docker:
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker build
#           run: echo docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#         - name: Docker login
#           env:
#             DOCKER_PASSWORD: Docker0107
#           run: echo docker login --usernam=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

#         - name: Docker Publish
#           run: docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

#     deploy:
#         needs: docker
#         runs-on: ubuntu-latest
#         steps:
#         - name: Docker run
#           run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest

          ##################### Environment Variables at Repo Level ###################

name: Variables and Secrets

on: 
    push:
env:
    CONTAINER_REGISTRY: docker.io
    IMAGE_NAME: github-actions-nginx
jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
        - name: Docker build
          run: echo docker build -t $CONTAINER_REGISTRY/${{vars.DOCKER_USERNAME}}/$IMAGE_NAME:latest

        - name: Docker login
          run: echo docker login --usernam=${{vars.DOCKER_USERNAME}} --password=${{secrets.DOCKER_PASSWORD}}

        - name: Docker Publish
          run: docker push $CONTAINER_REGISTRY/${{vars.DOCKER_USERNAME}}/$IMAGE_NAME:latest

    deploy:
        needs: docker
        runs-on: ubuntu-latest
        steps:
        - name: Docker run
          run: docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{vars.DOCKER_USERNAME}}/$IMAGE_NAME:latest
